<h1>Population by State (ACS 2023)</h1>

<label for="estadoSelect">Estado:</label>

<select
  id="estadoSelect"
  [(ngModel)]="selectedName"
  [disabled]="loading"
>
  <option value="">
    @if (loading) { Cargando... } @else { -- Selecciona -- }
  </option>

  @for (e of estados; track e.name) {
    <option [value]="e.name">{{ e.name }}</option>
  }
</select>

@if (errorMsg) {
  <p style="color: red">{{ errorMsg }}</p>
}

@if (selectedState) {
  <p>Población: <b>{{ selectedState.population | number }}</b></p>
}
